<div @stagger class="bg-white mt-12">
  <div class="pt-6">
    <nav aria-label="Breadcrumb">
      <ol role="list" class="mx-auto flex max-w-2xl items-center space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <li>
          <div class="flex items-center">
            <a href="#" class="mr-2 text-sm font-medium text-gray-900">Home</a>
            <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="h-5 w-4 text-gray-300">
              <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
            </svg>
          </div>
        </li>

        <li>
          <div class="flex items-center">
            <a href="#" class="mr-2 text-sm font-medium text-gray-900">Trang đang xây dựng</a>
          </div>
        </li>
      </ol>
    </nav>
    <div class="mx-auto mt-6 px-1">
      <div class="bg-white pt-2">
        <div class="max-w-2xl mx-auto pt-1 pb-2 px-1 sm:px-6 lg:max-w-7xl lg:px-8">
          <h1 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Trang đang được phát triển.</h1>
          <div class="text-justify">Vui lòng quay lại sau</div>
          <div><img src="assets/gia-hoa-cc.jpg" /></div>
        </div>
      </div>
    </div>
  </div>
</div>
