.cart-counter {
  color: #fff;
  background-color: red;
  width: 17px;
  height: 17px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  position: absolute;
  right: 40px;
  top: 12px;
  z-index: 2;
}
