<footer class="bg-white" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="max-w-7xl mx-auto py-2 px-4 sm:px-6 lg:py-2 lg:px-8">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-2 xl:col-span-1">
        <img class="h-10" src="../../assets/giahoa-logo-blue.png" alt="giahoa">
        <div class="flex space-x-1">
          <a href="https://www.facebook.com/groups/954143444663477" target="_blank" class="text-gray-400 hover:text-gray-500">
            <span class="sr-only">Facebook</span>
            <svg class="h-8 w-8" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="mt-4 border-t border-gray-200 pt-4">
      <p class="text-base text-gray-400 xl:text-center">&copy; 2023 Cộng đồng cư dân Gia Hòa</p>
    </div>
  </div>
</footer>
