<div @stagger class="bg-white mt-12">
  <div class="pt-6">
    <nav aria-label="Breadcrumb">
      <ol role="list" class="mx-auto flex max-w-2xl items-center space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <li>
          <div class="flex items-center">
            <a href="#" class="mr-2 text-sm font-medium text-gray-900">Home</a>
            <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="h-5 w-4 text-gray-300">
              <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
            </svg>
          </div>
        </li>

        <li>
          <div class="flex items-center">
            <a href="#" class="mr-2 text-sm font-medium text-gray-900">Thông tin cộng đồng</a>
          </div>
        </li>
      </ol>
    </nav>
    <div class="mx-auto mt-6 px-4">
      <div class="px-2">
        <form>
          <div class="flex">
            <label for="search-dropdown" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Tin tức</label>
            <button id="dropdown-button" data-dropdown-toggle="dropdown" class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-sky-100 border border-gray-300 rounded-l-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600" type="button">Danh mục <svg aria-hidden="true" class="w-4 h-4 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </button>
            <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-button">
                <li>
                  <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-sky-100 dark:hover:bg-sky-600 dark:hover:text-white">Tin nội bộ</button>
                </li>
                <li>
                  <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-sky-100 dark:hover:bg-sky-600 dark:hover:text-white">Tin nóng</button>
                </li>
                <li>
                  <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-sky-600 dark:hover:text-white">Thông báo</button>
                </li>
                <li>
                  <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-sky-100 dark:hover:bg-sky-600 dark:hover:text-white">Hoạt động quản lý</button>
                </li>
              </ul>
            </div>
            <div class="relative w-full md:w1/2 lg:w-1/3">
              <input type="search" id="search-dropdown" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-sky-50 rounded-r-lg border-l-sky-50 border-l-2 border border-sky-300 focus:ring-sky-200 focus:border-sky-300 dark:bg-sky-100 dark:border-l-sky-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray dark:focus:border-sky-300" placeholder="thông tin muốn tìm..." required>
              <button type="submit" class="absolute top-0 right-0 p-2.5 text-sm font-medium text-white bg-sky-700 rounded-r-lg border border-blue-700 hover:bg-sky-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-blue-800">
                <svg aria-hidden="true" class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
                <span class="sr-only">Search</span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="bg-white pt-2 sm:columns-1 md:columns-2 lg:columns-4 gap-4">
        <div class="max-w-2xl mx-auto pt-1 pb-2 px-1 sm:px-1 lg:max-w-7xl lg:px-2">
          <h1 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Hà Nội sẽ xây dựng đô thị hai bên sông Hồng</h1>
          <div class="text-justify">Sông Hồng được định hướng là trục xanh, cảnh quan trung tâm và phát triển đô thị hài hòa hai bên sông, theo nhiệm vụ điều chỉnh quy hoạch chung Thủ đô Hà Nội.</div>
          <div><img src="assets/test.jpg" /></div>
          <hr class="w-48 h-0.5 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
        </div>
        <div class="max-w-2xl mx-auto pt-1 pb-2 px-1 sm:px-1 lg:max-w-7xl lg:px-2">
          <h1 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Hà Nội sẽ xây dựng đô thị hai bên sông Hồng</h1>
          <div>Sông Hồng được định hướng là trục xanh, cảnh quan trung tâm và phát triển đô thị hài hòa hai bên sông, theo nhiệm vụ điều chỉnh quy hoạch chung Thủ đô Hà Nội.</div>
          <div class="text-justify"><img src="assets/test.jpg" /></div>
          <hr class="w-48 h-0.5 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
        </div>
        <div class="max-w-2xl mx-auto pt-1 pb-2 px-1 sm:px-1 lg:max-w-7xl lg:px-2">
          <h1 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Hà Nội sẽ xây dựng đô thị hai bên sông Hồng</h1>
          <div class="text-justify">Sông Hồng được định hướng là trục xanh, cảnh quan trung tâm và phát triển đô thị hài hòa hai bên sông, theo nhiệm vụ điều chỉnh quy hoạch chung Thủ đô Hà Nội.</div>
          <div><img src="assets/test.jpg" /></div>
          <hr class="w-48 h-0.5 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
        </div>
        <div class="max-w-2xl mx-auto pt-1 pb-2 px-1 sm:px-1 lg:max-w-7xl lg:px-2">
          <h1 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Hà Nội sẽ xây dựng đô thị hai bên sông Hồng</h1>
          <div class="text-justify">Sông Hồng được định hướng là trục xanh, cảnh quan trung tâm và phát triển đô thị hài hòa hai bên sông, theo nhiệm vụ điều chỉnh quy hoạch chung Thủ đô Hà Nội.</div>
          <div><img src="assets/test.jpg" /></div>
          <hr class="w-48 h-0.5 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
        </div>
      </div>
    </div>
  </div>
</div>
