<div @stagger class="bg-blue-50">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
      <div class="grid grid-cols-2 grid-rows-2 gap-6 pt-10 sm:grid-cols-2 md:grid-cols-2 md:gap-10 md:pt-12 lg:grid-cols-2">
        <div class="group rounded-full border-8 border-sky-100 hover:border-sky-200 px-8 py-6 shadow bg-sky-500 hover:bg-sky-400">
          <a routerLink="/news" class="group">
            <div class="mx-auto h-24 w-242 text-center md:h-56 md:w-56 xl:h-56 xl:w-56">
              <div class="hidden group-hover:block">
                <img src="/assets/newspaper.png" alt="newspaper icon">
              </div>
              <div class="block group-hover:hidden">
                <img src="/assets/newspaper.png" alt="newspaper icon">
              </div>
            </div>
          </a>
        </div>
        <div class="group rounded-full border-8 border-sky-100 hover:border-sky-200 px-8 py-6 shadow bg-sky-500 hover:bg-sky-400">
          <a routerLink="/page-under-construction" class="group">
            <div class="mx-auto h-24 w-242 text-center md:h-56 md:w-56 xl:h-56 xl:w-56">
              <div class="hidden group-hover:block">
                <img src="/assets/vote.png" alt="vote icon">
              </div>
              <div class="block group-hover:hidden">
                <img src="/assets/vote.png" alt="vote icon">
              </div>
            </div>
          </a>
        </div>
        <div class="group rounded-full border-8 border-sky-100 hover:border-sky-200 px-8 py-6 shadow bg-sky-500 hover:bg-sky-400">
          <a routerLink="/page-under-construction" class="group">
            <div class="mx-auto h-24 w-242 text-center md:h-56 md:w-56 xl:h-56 xl:w-56">
              <div class="hidden group-hover:block">
                <img src="/assets/documents.png" alt="documents icon">
              </div>
              <div class="block group-hover:hidden">
                <img src="/assets/documents.png" alt="documents icon">
              </div>
            </div>
          </a>
        </div>
        <div class="group rounded-full border-8 border-sky-100 hover:border-sky-200 px-8 py-6 shadow bg-sky-500 hover:bg-sky-400">
          <a routerLink="/page-under-construction" class="group">
            <div class="mx-auto h-24 w-242 text-center md:h-56 md:w-56 xl:h-56 xl:w-56">
              <div class="hidden group-hover:block">
                <img src="/assets/qa.png" alt="qa icon">
              </div>
              <div class="block group-hover:hidden">
                <img src="/assets/qa.png" alt="qa icon">
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
